# Ignore macOS system files and folders

Network Trash Folder
Temporary Items

._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes

# Ignore Windows system files and folders

$RECYCLE.BIN/

~$*
[Dd]esktop.ini
ehthumbs.db
[Tt]humbs.db

# Ignore compiled output

[Bb]in/
[Dd]ebug/
[Dd]ist/
[Gg]en/
[Oo]bj/
[Rr]elease/
[Tt]mp/

__pycache__/
bower_components/
coverage/
jspm_packages/
node_modules/

*.bin
*.obj
*.cache
*.csproj

# Ignore editor settings and files

*/.idea/
*/.vs/
*/.vscode/
*/bin/
*/obj/

*.code-workspace
*.suo
*.user

# Ignore temporary files

*.bak
*.log
*.lock
*.pid
*.seed
*.swp
/JobScial.WebAPI/obj/Debug/net7.0/JobScial.WebAPI.assets.cache
/.vs/PRN231FALL2024-GROUP10-BE-NEW/v17
/.gitignore
